@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	transition: all 0.2s ease;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.wpcf7-not-valid-tip {
    font-size: 12px;
}

.wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0.5em;
    border: 2px solid red!important;
    font-size: 12px;
    text-align: center;
}

body {
	background-color:#fdf1e8!important;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

p {
	font-size: 18px;
	text-align: justify;
	margin:0;
}

.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
}

.owl-theme .owl-dots .owl-dot span {
	border:1px solid #910856;
	background:transparent;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #910856;
}

.font-bebas {
	font-family: 'Bebas'!important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background:transparent;
	color: black;
}

$grey:#4d4c58;
$white:#ffffff;
$purple:#4d4c58;

.scroll-slow {
	h2 {
		animation: hidden 40s linear infinite!important;
	}
}

.scroll, .scroll-slow {
	position:relative;
	overflow: hidden;
	height: 70px;

	h3 {
		color: #fdf1e8!important;
	}

	h2, h3 {
		 position: absolute;
		 width: 100%;
		 height: 70px;
		 margin: 0;
		 color: $white;
		 text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
		 font-size: 70px;
		 white-space: nowrap;
		 line-height: 70px;
		 text-align: center;
		 transform:translateX(100%);
		 animation: hidden 22s linear infinite;
		 font-family: 'Bebas';
		 letter-spacing: 7px;
		 font-weight: bold;
		 font-style: italic;
	}

	@keyframes hidden {
		 0% { 
			 -moz-transform: translateX(100%);
			 -webkit-transform: translateX(100%);
			 transform: translateX(100%);     
		 }

		 100% { 
			 -moz-transform: translateX(-100%);
			 -webkit-transform: translateX(-100%);
			 transform: translateX(-100%); 
		 }
	}
}

.circle {
	position:relative;
	display: inline-block;
	padding:10px;
	border-radius:50%;

	&.fixed {
		background-color:white;
		box-shadow:0px 0px 17px rgba(1,1,1,0.2);

		#menu-click {
			color: black;
		}
	}

	#menu-click {
		cursor: pointer;
		position:relative;
		color:white;

		&:hover {
			color: $purple;
		}
	}
}

#close-menu {
	cursor: pointer;
	color:$white;
	font-size: 30px;
	margin-left: 5px;
	margin-bottom: 10px;

	&:hover {
		opacity: 0.6;
	}
}

#grey {
	transition: all 0.7s ease;
	display: none;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 11;
	background-color:rgba(1,1,1,0.8);

	&.active {
		display: block;
	}
}

.off-canvas {
	margin-left: -100%;
	background-color: $grey;
	padding:60px;
	position: fixed;
	top:0;
	left:0;
	width:40%;
	z-index: 999;
	height: 100%;
	transition: all 0.7s ease;

	&.slide {
		margin-left: 0;
		transition: all 0.7s ease;
	}

	.logo {
		position:absolute;
		right: 30px;
		top:30px;
		max-width: 100px;
	}

	.main {
		padding: 0;

		li {
			list-style-type: none;
			line-height: 50px;

			a {
				letter-spacing: 2px;
				font-family: 'Bebas';
				font-size: 45px;
				text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
				text-transform: uppercase;
				color: $grey;
				text-decoration: none;
				font-style: italic;

				&:hover {
					color:$white;
				}
			}
		}
	}

	.sub-main {
		padding:0;
		position:ab;
		bottom:60px;
		left: 60px;

		li {
			list-style-type: none;

			a {
				font-style: italic;
				text-transform: uppercase;
				color: $white;
				font-family: 'Bebas';
				text-decoration: none;
				font-size: 26px;
			}
		}
	}
}

header {
	position:fixed;
	top:0;
	padding:35px 0;
	left: 0;
	width: 100%;
	z-index: 999;

	.feather {
		width: 35px;
  		height: 35px;
  		color: white;
	}
}

.p-relative {
	position:relative;
}

#info1 {
	padding:120px 0;

	h2 {
		font-size: 80px;
		font-style:italic;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 40px;
		color: $purple;
		font-family: 'Bebas';
		line-height: 80px;

		span {
			display: block;
			font-weight: 700;
			font-family: 'Bebas';
		}
	}

	.bg {
		position:absolute;
		top:-210px;
		z-index: 10;
	}
}

#distribuition {
	position:relative;

	.social {
		position:absolute;
		left:40px;
		top:50%;
		transform: translate(0,-50%);
		padding:0;

		li {
			list-style-type: none;
			margin-bottom: 10px;

			a:hover {
				img {
					opacity: 0.9;
				}
			}
		}
	}
}

#slide {
	padding:50px 0;

	.owl-slide {
		.img {
			height: 490px;
			width: 100%;
			position:relative;
			top:50%;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
		}

		.info {
			display: none;

			h3 {
				font-family: 'Bebas';
				text-transform: uppercase;
				color: $purple;
				font-size: 40px;
				font-style: italic;
			}

			p {
				font-size: 16px;
			}
		}

		.owl-item {
			.img {
				margin:55px 0;
			}

			&.center {
				.img {
					margin-top: 0;
					height: 600px;
					margin-bottom: 20px;
				}

				.info {
					display: block;
				}
			}
		}
	}
}

#products {
	margin:20px 0;

	.text {
		position:relative;
		top: 50%;
		transform: translate(0,-50%);
	}

	h2 {
		text-transform: uppercase;
		font-family: 'Bebas';
		font-size: 70px;
		font-style: italic;
		color:$purple;

		span {
			font-family: 'Bebas';
			display: block;
		}
	}

	p {
		margin-bottom: 40px;
	}

	ul {
		padding:0;
		margin-bottom: 40px;

		li {
			list-style-type: none;
			line-height: 70px;

			a {
				letter-spacing: 2px;
				font-family: 'Bebas';
				font-size: 70px;
				text-shadow: 1px 0 0 $purple, -1px 0 0 $purple, 0 1px 0 $purple, 0 -1px 0 $purple, 1px 1px $purple, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
				text-transform: uppercase;
				color: #fdf1e8;
				text-decoration: none;
				font-style: italic;

				&:hover {
					color:$purple;
				}

				&.active {
					color:$purple;
				}
			}
		}
	}

	.more-information {
		margin:50px 0;
		display: block;
		font-family: 'Poppins';
		font-weight: 700;
		text-transform: uppercase;
		color: $purple;
		text-decoration: none;
		font-size: 25px;
		font-style: italic;
	}

	.owl-product {

		.float {
			position:relative;

			.info {
				position:absolute;
				bottom:50px;
				max-width: 86%;
				padding:30px 40px;
				padding-right: 70px;

				.medical {
					position:absolute;
					right: 100px;
					top:-150px;
					width: 100px;
				}

				.btnn {
					position:absolute;
					right: -35px;
					top:50%;
					transform: translate(0,-50%);
					border-radius: 50%;
					border:4px solid $white;
					padding:10px 18px;

					i {
						position:relative;
						padding-left: 6px;
						color: $white;
					}
				}

				&.pink {
					background: rgb(196,1,160);
					background: linear-gradient(135deg, rgba(196,1,160,1) 0%, rgba(155,48,23,1) 70%);

					.btnn {
						background: rgb(196,1,160);
						background: linear-gradient(135deg, rgba(196,1,160,1) 0%, rgba(155,48,23,1) 100%);

						&:hover {
							background: linear-gradient(135deg, rgba(196,1,160,1) 0%, rgba(155,48,23,1) 50%);
						}
					}
				}

				&.green {
					background: rgb(0,191,25);
					background: linear-gradient(135deg, rgba(0,191,25,1) 0%, rgba(45,116,142,1) 70%);

					.btnn {
						background: rgb(0,191,25);
						background: linear-gradient(135deg, rgba(0,191,25,1) 0%, rgba(45,116,142,1) 70%);

						&:hover {
							background: linear-gradient(135deg, rgba(0,191,25,1) 0%, rgba(45,116,142,1) 50%);							
						}
					}
				}

				&.blue {
					background: rgb(135,172,140);
					background: linear-gradient(135deg, rgba(135,172,140,1) 0%, rgba(177,212,182,1) 50%, rgba(45,116,142,1) 100%);

					.btnn {
						background: rgb(135,172,140);
						background: linear-gradient(135deg, rgba(135,172,140,1) 0%, rgba(177,212,182,1) 50%, rgba(45,116,142,1) 100%);

						&:hover {
							background: rgb(135,172,140);
							background: linear-gradient(135deg, rgba(135,172,140,1) 0%, rgba(177,212,182,1) 50%, rgba(45,116,142,1) 90%);
						}
					}
				}

				&.purple {
					background: rgb(0,109,187);
					background: linear-gradient(135deg, rgba(0,109,187,1) 0%, rgba(186,204,255,1) 50%, rgba(95,44,135,1) 100%);

					.btnn {
						background: rgb(0,109,187);
						background: linear-gradient(135deg, rgba(0,109,187,1) 0%, rgba(186,204,255,1) 50%, rgba(95,44,135,1) 100%);

						&:hover {
							background: rgb(0,109,187);
							background: linear-gradient(135deg, rgba(0,109,187,1) 0%, rgba(186,204,255,1) 50%, rgba(95,44,135,1) 90%);
						}
					}
				}

				h3 {
					font-family: 'Bebas';
					color: $white;
					font-size: 35px;
					letter-spacing: 2px;
					font-style: italic;
				}

				p {
					font-size: 14px;
					color: $white;
					margin:0;
				}
			}
		}
	}
}

#benefities {
	background-image:url('../img/bg-study.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;

	.certificate {
		position:absolute;
		bottom:50px;
		width: 170px;
		right: -60px;
		z-index: 10;
	}

	.owl-benefities {
		margin-top:390px;
		margin-bottom: -100px;
		position:relative;

		.owl-nav {
			position:absolute;
			top:50%;
			transform: translate(0,-50%);
			width: 100%;
			margin-top: 0;

			i {
				font-size: 40px;
			}

			.owl-prev {
				float: left;
				margin-left: -10px;
				position:relative;

				&:hover::before {
					background-color:#ececec;
				}

				&::before {
					content:'';
					position: absolute;
					left:50%;
					top:50%;
					transform: translate(-50%,-50%);
					background-color:$white;
					width: 70px;
					height: 70px;
					border-radius: 50%;
					z-index:-1;
					border:3px solid black;
				}
			}

			.owl-next {
				float: right;
				margin-right: -10px;
				position:relative;

				&:hover::before {
					background-color:#ececec;
				}

				&::before {
					content:'';
					position: absolute;
					left:50%;
					top:50%;
					transform: translate(-50%,-50%);
					background-color:$white;
					width: 70px;
					height: 70px;
					border-radius: 50%;
					z-index:-1;
					border:3px solid black;
				}
			}
		}

		.info {
			padding:40px 60px;
			background-color:#fdf1e8;
			position:relative;

			h2 {
				text-align: center;
				font-family: 'Bebas';
				color: $purple;
				font-size: 50px;
				text-transform: uppercase;
				font-style: italic;

				span {
					font-family: 'Bebas';
					display: block;
				}
			}
		}
	}
}

#blank {
	background-color:$white;
	height: 170px;
}

#use {
	padding:60px 0;
	background-color:$white;
	background-image:url('../img/line-pink.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;

	.owl-use {
		margin:50px 0;
		position: relative;

		.owl-nav {
			position:absolute;
			top:50%;
			transform: translate(0,-50%);
			width: 100%;
			margin-top: 0;

			i {
				font-size: 40px;
			}

			.owl-prev {
				float: left;
				margin-left: -10px;
				position:relative;

				&:hover::before {
					background-color:#ececec;
				}

				&::before {
					content:'';
					position: absolute;
					left:50%;
					top:50%;
					transform: translate(-50%,-50%);
					background-color:$white;
					width: 70px;
					height: 70px;
					border-radius: 50%;
					z-index:-1;
					border:3px solid black;
				}
			}

			.owl-next {
				float: right;
				margin-right: -10px;
				position:relative;

				&:hover::before {
					background-color:#ececec;
				}

				&::before {
					content:'';
					position: absolute;
					left:50%;
					top:50%;
					transform: translate(-50%,-50%);
					background-color:$white;
					width: 70px;
					height: 70px;
					border-radius: 50%;
					z-index:-1;
					border:3px solid black;
				}
			}
		}

		.owl-item {
			padding-top: 20px;
			padding-right: 30px;
			padding-bottom: 20px;
			padding-left: 20px;
		}

		.body {
			background-color:#fdf1e8;
			position:relative;
			box-shadow: 0px 0px 10px rgba(1,1,1,0.15);

			&::before {
				box-shadow: 0px 0px 10px rgba(1,1,1,0.15);
				content:'';
				position:absolute;
				height: 80%;
				width: 50%;
				top:50%;
				right: -20px;
				transform: translate(0,-50%);
				background-color:#f9e4e4;
				z-index: -1;
			}

			.cover {
				margin-top: -30px;
				margin-left: 30px;
				position:absolute;
			}
		}
	}

	.text {
		padding:120px 40px;
		top:50%;
		position:relative;
		transform: translate(0,-50%);
		text-align: center;

		.social {
			position:absolute;
			left:-70px;
			top:50%;
			transform: translate(0,-50%);

			li {
				list-style-type: none;
				margin-bottom: 7px;

				img {
					width: 35px;

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		h3 {
			text-transform: uppercase;
			font-style: italic;
			font-size: 29px;
			margin-bottom: 30px;
			font-family: 'Bebas';
		}

		p {
			text-align: center;
			margin:0;
		}
	}

	h2 {
		text-transform: uppercase;
		font-family: 'Bebas';
		font-size: 60px;
		font-style: italic;
	}
}

#logo {
	background-color:$white;
	padding:40px 0;

	img {
		display: block;
		margin:80px auto;
		max-width: 80%;
	}
}

#form {
	background-color:#fdf1e8;
	padding:50px 0;

	.list {
		padding:0;
		margin-top: 30px;

		li {
			list-style-type: none;
			line-height: 45px;

			label {
				text-transform: uppercase;
				font-family:'Bebas';
				font-style: italic;
				font-size: 35px;
				color: $purple;
				position: absolute;
			    margin-left: 7px;
			    margin-top: -2px;
			}
		}
	}

	h2 {
		text-transform: uppercase;
		font-family:'Bebas';
		font-style: italic;
		font-size: 70px;
		color: $purple;
		margin-bottom: 40px;
	}

	h3 {
		text-transform: uppercase;
		font-family:'Bebas';
		font-style: italic;
		font-size: 38px;
		color: $purple;
	}

	.form {
		.form-control {
			border:0;
			border-bottom: 1px solid $purple;
			border-radius: 0;
			background-color: transparent;
			margin-bottom: 5px;
			color:$purple;
			padding:8px 0;

			&::placeholder {
				color: $purple;
			}
		}

		.btn-submit {
			text-transform: uppercase;
			font-family:'Bebas';
			font-size: 35px;
			font-style:italic;
			color: $purple;

			&:hover {
				opacity: 0.9;
			}

			i {
				margin-left: 10px;
				color: $purple;
				font-size: 30px;
			}
		}
	}
}


@media only screen and (max-width : 1436px) {

	#info1 h2 {
	    font-size: 70px;
	    margin-bottom: 20px;
	    line-height: 70px;
	}

	#products .more-information {
		margin:20px 0;
	}

	#products ul li a {
		font-size: 60px;
	}

	#products h2 {
		font-size: 60px;

		span {
			display: inline-block;
		}
	}

	#products ul li {
		line-height: 60px;
	}

	#products .owl-product .float .info {
	    max-width: 90%;
	}

	#products .owl-product .float .info p {
	    font-size: 13px;
	}

	#use h2 {
		font-size: 48px;
		text-align: center;
	}

	#benefities .owl-benefities .info h2 {
	    font-size: 36px;
	    line-height: 36px;
	}

}

@media only screen and (max-width: 1366px) {

	#slide .owl-slide .info {
		text-align: center;
	}

	#products h2 {
	    font-size: 50px;
	}

	#use {
		padding-bottom: 0!important;

		.text {
		    padding: 120px 20px;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	#info1 h2 {
	    font-size: 60px;
	    line-height: 60px;
	}

	#slide .owl-slide .img {
	    height: 500px;
	    background-position: top;
	}

	#products ul li {
		line-height: 50px;

		a {
		    font-size: 50px;
		}
	}

	#products .owl-product .float .info {
		padding:30px;
	}



	#products .owl-product .float .info .medical {
	    right: 40px;
	    top: -120px;
	    width: 80px;
	}

	#slide {
		padding:0;
	}

	#slide .owl-slide .info {
		padding:10px 40px;
	}

	#use .text .social {
	    left: -60px;
	}

	#logo img {
	    margin: 40px auto;
	}

	#use .owl-use {
		margin-bottom: 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.scroll-slow {
		margin-bottom: 0!important;
	}

	#use .text {
		top: inherit;
		transform: inherit;
	}

	#benefities .owl-benefities .info h2 {
	    font-size: 30px;
	    line-height: 30px;
	}

	#use .owl-use .body .cover {
		position: relative;
		margin: 0;
	}

	#use .text h3 {
	    font-size: 25px;
	}

	#use .text .social {
	    left: -50px;
	}

	#use .text {
		padding:20px;
	}

	#products .text {
		top: inherit;
		transform: inherit;
		padding:30px 0;
		text-align: center;

		p {
			padding: 0 40px;
		}
	}

	.scroll h2, .scroll h3, .scroll-slow h2, .scroll-slow h3 {
		font-size: 50px;
		line-height:50px;
		height: 50px;
	}

	#benefities .owl-benefities {
	    margin-top: 290px;
	}

	#slide .owl-slide .img {
	    height: 400px;
	}

	#slide .owl-slide .owl-item .img {
	    margin: 50px 0;
	}

	#slide .owl-slide .owl-item .img {
	    margin: 50px 0;
	}

	#slide .owl-slide .info h3 {
		font-size: 33px;
	}

	#slide .owl-slide .owl-item.center .img {
		height: 500px;
	}

	#logo img {
	    margin: 20px auto;
	    max-width: 70%;
	}

	#form h2 {
		font-size: 55px;
	}

	.scroll h2, .scroll h3, .scroll-slow h2, .scroll-slow h3 {

	}

	#info1 {
		padding: 30px 0;
		text-align: center;

		.bg {
		    position: relative;
		    top: inherit;
		    margin: 0 auto;
		    display: block;
		    max-width: 70%;
		}
	}

	#benefities .certificate {
		right: 0;
		bottom:10px;
	}

	#info1 .bg {
		display: none;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	#form h3 {
		font-size: 33px;
	}

	#form .list li label {
		font-size: 28px;
	}

	#slide .owl-slide .info {
		display: block;
	}

	#slide .owl-slide .owl-item .img {
	    margin: 0;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	#benefities .certificate {
	    right: 0;
	    width: 110px;
	    bottom: 80px;
	}

	#use h2 {
	    font-size: 30px;
	}

	#benefities .owl-benefities .info h2 {
	    font-size: 20px;
	    line-height: 25px;
	}

	#info1 h2 {
	    font-size: 45px;
	    line-height: 45px;
	}

	#products h2 {
	    font-size: 40px;
	}

	#form h2 {
		font-size: 39px;
	}

	#form .list li label {
	    font-size: 24px;
	}

	#form h3 {
	    font-size: 26px;
	}

	#form .list li {
	    line-height: 29px;
	}


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}