@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.wpcf7-not-valid-tip {
  font-size: 12px;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0;
  padding: 0.5em;
  border: 2px solid red !important;
  font-size: 12px;
  text-align: center;
}

body {
  background-color: #fdf1e8 !important;
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
p {
  font-size: 18px;
  text-align: justify;
  margin: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #910856;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #910856;
}

.font-bebas {
  font-family: "Bebas" !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: black;
}

.scroll-slow h2 {
  -webkit-animation: hidden 40s linear infinite !important;
          animation: hidden 40s linear infinite !important;
}

.scroll, .scroll-slow {
  position: relative;
  overflow: hidden;
  height: 70px;
}
.scroll h3, .scroll-slow h3 {
  color: #fdf1e8 !important;
}
.scroll h2, .scroll h3, .scroll-slow h2, .scroll-slow h3 {
  position: absolute;
  width: 100%;
  height: 70px;
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-size: 70px;
  white-space: nowrap;
  line-height: 70px;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: hidden 22s linear infinite;
          animation: hidden 22s linear infinite;
  font-family: "Bebas";
  letter-spacing: 7px;
  font-weight: bold;
  font-style: italic;
}
@-webkit-keyframes hidden {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes hidden {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.circle {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}
.circle.fixed {
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px rgba(1, 1, 1, 0.2);
          box-shadow: 0px 0px 17px rgba(1, 1, 1, 0.2);
}
.circle.fixed #menu-click {
  color: black;
}
.circle #menu-click {
  cursor: pointer;
  position: relative;
  color: white;
}
.circle #menu-click:hover {
  color: #4d4c58;
}

#close-menu {
  cursor: pointer;
  color: #ffffff;
  font-size: 30px;
  margin-left: 5px;
  margin-bottom: 10px;
}
#close-menu:hover {
  opacity: 0.6;
}

#grey {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  background-color: rgba(1, 1, 1, 0.8);
}
#grey.active {
  display: block;
}

.off-canvas {
  margin-left: -100%;
  background-color: #4d4c58;
  padding: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 999;
  height: 100%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.off-canvas.slide {
  margin-left: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.off-canvas .logo {
  position: absolute;
  right: 30px;
  top: 30px;
  max-width: 100px;
}
.off-canvas .main {
  padding: 0;
}
.off-canvas .main li {
  list-style-type: none;
  line-height: 50px;
}
.off-canvas .main li a {
  letter-spacing: 2px;
  font-family: "Bebas";
  font-size: 45px;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  text-transform: uppercase;
  color: #4d4c58;
  text-decoration: none;
  font-style: italic;
}
.off-canvas .main li a:hover {
  color: #ffffff;
}
.off-canvas .sub-main {
  padding: 0;
  position: ab;
  bottom: 60px;
  left: 60px;
}
.off-canvas .sub-main li {
  list-style-type: none;
}
.off-canvas .sub-main li a {
  font-style: italic;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bebas";
  text-decoration: none;
  font-size: 26px;
}

header {
  position: fixed;
  top: 0;
  padding: 35px 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header .feather {
  width: 35px;
  height: 35px;
  color: white;
}

.p-relative {
  position: relative;
}

#info1 {
  padding: 120px 0;
}
#info1 h2 {
  font-size: 80px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
  color: #4d4c58;
  font-family: "Bebas";
  line-height: 80px;
}
#info1 h2 span {
  display: block;
  font-weight: 700;
  font-family: "Bebas";
}
#info1 .bg {
  position: absolute;
  top: -210px;
  z-index: 10;
}

#distribuition {
  position: relative;
}
#distribuition .social {
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0;
}
#distribuition .social li {
  list-style-type: none;
  margin-bottom: 10px;
}
#distribuition .social li a:hover img {
  opacity: 0.9;
}

#slide {
  padding: 50px 0;
}
#slide .owl-slide .img {
  height: 490px;
  width: 100%;
  position: relative;
  top: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#slide .owl-slide .info {
  display: none;
}
#slide .owl-slide .info h3 {
  font-family: "Bebas";
  text-transform: uppercase;
  color: #4d4c58;
  font-size: 40px;
  font-style: italic;
}
#slide .owl-slide .info p {
  font-size: 16px;
}
#slide .owl-slide .owl-item .img {
  margin: 55px 0;
}
#slide .owl-slide .owl-item.center .img {
  margin-top: 0;
  height: 600px;
  margin-bottom: 20px;
}
#slide .owl-slide .owl-item.center .info {
  display: block;
}

#products {
  margin: 20px 0;
}
#products .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#products h2 {
  text-transform: uppercase;
  font-family: "Bebas";
  font-size: 70px;
  font-style: italic;
  color: #4d4c58;
}
#products h2 span {
  font-family: "Bebas";
  display: block;
}
#products p {
  margin-bottom: 40px;
}
#products ul {
  padding: 0;
  margin-bottom: 40px;
}
#products ul li {
  list-style-type: none;
  line-height: 70px;
}
#products ul li a {
  letter-spacing: 2px;
  font-family: "Bebas";
  font-size: 70px;
  text-shadow: 1px 0 0 #4d4c58, -1px 0 0 #4d4c58, 0 1px 0 #4d4c58, 0 -1px 0 #4d4c58, 1px 1px #4d4c58, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  text-transform: uppercase;
  color: #fdf1e8;
  text-decoration: none;
  font-style: italic;
}
#products ul li a:hover {
  color: #4d4c58;
}
#products ul li a.active {
  color: #4d4c58;
}
#products .more-information {
  margin: 50px 0;
  display: block;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4c58;
  text-decoration: none;
  font-size: 25px;
  font-style: italic;
}
#products .owl-product .float {
  position: relative;
}
#products .owl-product .float .info {
  position: absolute;
  bottom: 50px;
  max-width: 86%;
  padding: 30px 40px;
  padding-right: 70px;
}
#products .owl-product .float .info .medical {
  position: absolute;
  right: 100px;
  top: -150px;
  width: 100px;
}
#products .owl-product .float .info .btnn {
  position: absolute;
  right: -35px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  border: 4px solid #ffffff;
  padding: 10px 18px;
}
#products .owl-product .float .info .btnn i {
  position: relative;
  padding-left: 6px;
  color: #ffffff;
}
#products .owl-product .float .info.pink {
  background: #c401a0;
  background: linear-gradient(135deg, #c401a0 0%, #9b3017 70%);
}
#products .owl-product .float .info.pink .btnn {
  background: #c401a0;
  background: linear-gradient(135deg, #c401a0 0%, #9b3017 100%);
}
#products .owl-product .float .info.pink .btnn:hover {
  background: linear-gradient(135deg, #c401a0 0%, #9b3017 50%);
}
#products .owl-product .float .info.green {
  background: #00bf19;
  background: linear-gradient(135deg, #00bf19 0%, #2d748e 70%);
}
#products .owl-product .float .info.green .btnn {
  background: #00bf19;
  background: linear-gradient(135deg, #00bf19 0%, #2d748e 70%);
}
#products .owl-product .float .info.green .btnn:hover {
  background: linear-gradient(135deg, #00bf19 0%, #2d748e 50%);
}
#products .owl-product .float .info.blue {
  background: #87ac8c;
  background: linear-gradient(135deg, #87ac8c 0%, #b1d4b6 50%, #2d748e 100%);
}
#products .owl-product .float .info.blue .btnn {
  background: #87ac8c;
  background: linear-gradient(135deg, #87ac8c 0%, #b1d4b6 50%, #2d748e 100%);
}
#products .owl-product .float .info.blue .btnn:hover {
  background: #87ac8c;
  background: linear-gradient(135deg, #87ac8c 0%, #b1d4b6 50%, #2d748e 90%);
}
#products .owl-product .float .info.purple {
  background: #006dbb;
  background: linear-gradient(135deg, #006dbb 0%, #baccff 50%, #5f2c87 100%);
}
#products .owl-product .float .info.purple .btnn {
  background: #006dbb;
  background: linear-gradient(135deg, #006dbb 0%, #baccff 50%, #5f2c87 100%);
}
#products .owl-product .float .info.purple .btnn:hover {
  background: #006dbb;
  background: linear-gradient(135deg, #006dbb 0%, #baccff 50%, #5f2c87 90%);
}
#products .owl-product .float .info h3 {
  font-family: "Bebas";
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 2px;
  font-style: italic;
}
#products .owl-product .float .info p {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}

#benefities {
  background-image: url("../img/bg-study.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#benefities .certificate {
  position: absolute;
  bottom: 50px;
  width: 170px;
  right: -60px;
  z-index: 10;
}
#benefities .owl-benefities {
  margin-top: 390px;
  margin-bottom: -100px;
  position: relative;
}
#benefities .owl-benefities .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  margin-top: 0;
}
#benefities .owl-benefities .owl-nav i {
  font-size: 40px;
}
#benefities .owl-benefities .owl-nav .owl-prev {
  float: left;
  margin-left: -10px;
  position: relative;
}
#benefities .owl-benefities .owl-nav .owl-prev:hover::before {
  background-color: #ececec;
}
#benefities .owl-benefities .owl-nav .owl-prev::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  border: 3px solid black;
}
#benefities .owl-benefities .owl-nav .owl-next {
  float: right;
  margin-right: -10px;
  position: relative;
}
#benefities .owl-benefities .owl-nav .owl-next:hover::before {
  background-color: #ececec;
}
#benefities .owl-benefities .owl-nav .owl-next::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  border: 3px solid black;
}
#benefities .owl-benefities .info {
  padding: 40px 60px;
  background-color: #fdf1e8;
  position: relative;
}
#benefities .owl-benefities .info h2 {
  text-align: center;
  font-family: "Bebas";
  color: #4d4c58;
  font-size: 50px;
  text-transform: uppercase;
  font-style: italic;
}
#benefities .owl-benefities .info h2 span {
  font-family: "Bebas";
  display: block;
}

#blank {
  background-color: #ffffff;
  height: 170px;
}

#use {
  padding: 60px 0;
  background-color: #ffffff;
  background-image: url("../img/line-pink.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#use .owl-use {
  margin: 50px 0;
  position: relative;
}
#use .owl-use .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  margin-top: 0;
}
#use .owl-use .owl-nav i {
  font-size: 40px;
}
#use .owl-use .owl-nav .owl-prev {
  float: left;
  margin-left: -10px;
  position: relative;
}
#use .owl-use .owl-nav .owl-prev:hover::before {
  background-color: #ececec;
}
#use .owl-use .owl-nav .owl-prev::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  border: 3px solid black;
}
#use .owl-use .owl-nav .owl-next {
  float: right;
  margin-right: -10px;
  position: relative;
}
#use .owl-use .owl-nav .owl-next:hover::before {
  background-color: #ececec;
}
#use .owl-use .owl-nav .owl-next::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  border: 3px solid black;
}
#use .owl-use .owl-item {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}
#use .owl-use .body {
  background-color: #fdf1e8;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.15);
          box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.15);
}
#use .owl-use .body::before {
  -webkit-box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.15);
          box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.15);
  content: "";
  position: absolute;
  height: 80%;
  width: 50%;
  top: 50%;
  right: -20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #f9e4e4;
  z-index: -1;
}
#use .owl-use .body .cover {
  margin-top: -30px;
  margin-left: 30px;
  position: absolute;
}
#use .text {
  padding: 120px 40px;
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}
#use .text .social {
  position: absolute;
  left: -70px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#use .text .social li {
  list-style-type: none;
  margin-bottom: 7px;
}
#use .text .social li img {
  width: 35px;
}
#use .text .social li img:hover {
  opacity: 0.8;
}
#use .text h3 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 29px;
  margin-bottom: 30px;
  font-family: "Bebas";
}
#use .text p {
  text-align: center;
  margin: 0;
}
#use h2 {
  text-transform: uppercase;
  font-family: "Bebas";
  font-size: 60px;
  font-style: italic;
}

#logo {
  background-color: #ffffff;
  padding: 40px 0;
}
#logo img {
  display: block;
  margin: 80px auto;
  max-width: 80%;
}

#form {
  background-color: #fdf1e8;
  padding: 50px 0;
}
#form .list {
  padding: 0;
  margin-top: 30px;
}
#form .list li {
  list-style-type: none;
  line-height: 45px;
}
#form .list li label {
  text-transform: uppercase;
  font-family: "Bebas";
  font-style: italic;
  font-size: 35px;
  color: #4d4c58;
  position: absolute;
  margin-left: 7px;
  margin-top: -2px;
}
#form h2 {
  text-transform: uppercase;
  font-family: "Bebas";
  font-style: italic;
  font-size: 70px;
  color: #4d4c58;
  margin-bottom: 40px;
}
#form h3 {
  text-transform: uppercase;
  font-family: "Bebas";
  font-style: italic;
  font-size: 38px;
  color: #4d4c58;
}
#form .form .form-control {
  border: 0;
  border-bottom: 1px solid #4d4c58;
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 5px;
  color: #4d4c58;
  padding: 8px 0;
}
#form .form .form-control::-webkit-input-placeholder {
  color: #4d4c58;
}
#form .form .form-control::-moz-placeholder {
  color: #4d4c58;
}
#form .form .form-control:-ms-input-placeholder {
  color: #4d4c58;
}
#form .form .form-control::-ms-input-placeholder {
  color: #4d4c58;
}
#form .form .form-control::placeholder {
  color: #4d4c58;
}
#form .form .btn-submit {
  text-transform: uppercase;
  font-family: "Bebas";
  font-size: 35px;
  font-style: italic;
  color: #4d4c58;
}
#form .form .btn-submit:hover {
  opacity: 0.9;
}
#form .form .btn-submit i {
  margin-left: 10px;
  color: #4d4c58;
  font-size: 30px;
}

@media only screen and (max-width: 1436px) {
  #info1 h2 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 70px;
  }

  #products .more-information {
    margin: 20px 0;
  }

  #products ul li a {
    font-size: 60px;
  }

  #products h2 {
    font-size: 60px;
  }
  #products h2 span {
    display: inline-block;
  }

  #products ul li {
    line-height: 60px;
  }

  #products .owl-product .float .info {
    max-width: 90%;
  }

  #products .owl-product .float .info p {
    font-size: 13px;
  }

  #use h2 {
    font-size: 48px;
    text-align: center;
  }

  #benefities .owl-benefities .info h2 {
    font-size: 36px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 1366px) {
  #slide .owl-slide .info {
    text-align: center;
  }

  #products h2 {
    font-size: 50px;
  }

  #use {
    padding-bottom: 0 !important;
  }
  #use .text {
    padding: 120px 20px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #info1 h2 {
    font-size: 60px;
    line-height: 60px;
  }

  #slide .owl-slide .img {
    height: 500px;
    background-position: top;
  }

  #products ul li {
    line-height: 50px;
  }
  #products ul li a {
    font-size: 50px;
  }

  #products .owl-product .float .info {
    padding: 30px;
  }

  #products .owl-product .float .info .medical {
    right: 40px;
    top: -120px;
    width: 80px;
  }

  #slide {
    padding: 0;
  }

  #slide .owl-slide .info {
    padding: 10px 40px;
  }

  #use .text .social {
    left: -60px;
  }

  #logo img {
    margin: 40px auto;
  }

  #use .owl-use {
    margin-bottom: 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .scroll-slow {
    margin-bottom: 0 !important;
  }

  #use .text {
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }

  #benefities .owl-benefities .info h2 {
    font-size: 30px;
    line-height: 30px;
  }

  #use .owl-use .body .cover {
    position: relative;
    margin: 0;
  }

  #use .text h3 {
    font-size: 25px;
  }

  #use .text .social {
    left: -50px;
  }

  #use .text {
    padding: 20px;
  }

  #products .text {
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
    padding: 30px 0;
    text-align: center;
  }
  #products .text p {
    padding: 0 40px;
  }

  .scroll h2, .scroll h3, .scroll-slow h2, .scroll-slow h3 {
    font-size: 50px;
    line-height: 50px;
    height: 50px;
  }

  #benefities .owl-benefities {
    margin-top: 290px;
  }

  #slide .owl-slide .img {
    height: 400px;
  }

  #slide .owl-slide .owl-item .img {
    margin: 50px 0;
  }

  #slide .owl-slide .owl-item .img {
    margin: 50px 0;
  }

  #slide .owl-slide .info h3 {
    font-size: 33px;
  }

  #slide .owl-slide .owl-item.center .img {
    height: 500px;
  }

  #logo img {
    margin: 20px auto;
    max-width: 70%;
  }

  #form h2 {
    font-size: 55px;
  }

  #info1 {
    padding: 30px 0;
    text-align: center;
  }
  #info1 .bg {
    position: relative;
    top: inherit;
    margin: 0 auto;
    display: block;
    max-width: 70%;
  }

  #benefities .certificate {
    right: 0;
    bottom: 10px;
  }

  #info1 .bg {
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #form h3 {
    font-size: 33px;
  }

  #form .list li label {
    font-size: 28px;
  }

  #slide .owl-slide .info {
    display: block;
  }

  #slide .owl-slide .owl-item .img {
    margin: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #benefities .certificate {
    right: 0;
    width: 110px;
    bottom: 80px;
  }

  #use h2 {
    font-size: 30px;
  }

  #benefities .owl-benefities .info h2 {
    font-size: 20px;
    line-height: 25px;
  }

  #info1 h2 {
    font-size: 45px;
    line-height: 45px;
  }

  #products h2 {
    font-size: 40px;
  }

  #form h2 {
    font-size: 39px;
  }

  #form .list li label {
    font-size: 24px;
  }

  #form h3 {
    font-size: 26px;
  }

  #form .list li {
    line-height: 29px;
  }
}
/* Custom, iPhone Retina */